# AppVeyor.com is a Continuous Integration service to build and run tests under
# Windows

environment:

    global:
        PYTHON: "C:\\conda"
        MINICONDA_VERSION: "latest"
        CMD_IN_ENV: "cmd /E:ON /V:ON /C .\\ci-helpers\\appveyor\\windows_sdk.cmd"
        PYTHON_ARCH: "64" # needs to be set for CMD_IN_ENV to succeed. If a mix
                          # of 32 bit and 64 bit builds are needed, move this
                          # to the matrix section.
        CONDA_DEPENDENCIES: "scipy matplotlib sympy"
        PIP_DEPENDENCIES: "nose rebound"

    matrix:

        - PYTHON_VERSION: "2.7"
          NUMPY_VERSION: "1.10"
        - PYTHON_VERSION: "2.7"
          NUMPY_VERSION: "stable"
        - PYTHON_VERSION: "2.7"
          NUMPY_VERSION: "dev"

matrix:
    fast_finish: true

platform:
    -x64

os: Visual Studio 2015

install:
    - git clone git://github.com/astropy/ci-helpers.git
    - cmd ci-helpers\\appveyor\\setup_conda.sh
    - python setup.py build
    - python setup.py install --user
    - git clone git://github.com/phoebe-project/phoebe1.git
    - cd phoebe1\\phoebe-lib
    - cmd configure
    - make
    - make install
    - cd..
    - cd phoebe-py
    - python setup.py build
    - python setup.py install --user
    - cd..
    - cd..
    - cp tests/travis/phoebe.config ~/.phoebe-svn/
    - git clone git://github.com/phoebe-project/photodynam.git
    - cd photodynam
    - make
    - cd..
    - nosetests -v -s -d -w tests\\nosetests\\;

# Not a .NET project, we build in the install step instead
build: false

test_script:
    - nosetests -v -s -d -w tests/nosetests/;
